body {
    background-color: lightgray;
    margin: 0;
    padding: 0;
    display: flex;
    color: lightgray;
    /*font-family: 'DM Serif Display', serif;
    font-family: 'Vidaloka', serif;*/
    font-family: 'Merienda', cursive;
    font-size: 12px;
}

menu {
    background-color: black;
    min-height: 600px;
    margin: auto;
    padding: 15px;
    
    font-size: 15px;
    position: fixed;
    top: 0;
    left: 0;
}

.pict {
    background-image: url(./picture/en.jpg);
    background-repeat: no-repeat;
    background-position: -225px -140px;
    
    width: 200px;
    height: 200px;
    border: 1px solid lightgray;
    border-radius: 50%;
    margin-bottom: 20px;
}


.menu {
    width: 200px;
    height: 20px;
    margin: 0;
    padding: 0;
}


a:hover {
    color: dimgrey;
}

a:link, :visited, a:active {
    text-decoration: none;
    color: lightgray;
}

.ma:hover {
    box-shadow: dimgrey 0px 2px 10px 1px;
}

main {
    width: 600px;
    border: 1px solid lightgray;
    margin-left: 240px;
    padding: 50px;
}

.egy {
    background-image: url(./picture/20.jpg);
    background-position: -200px -80px;
    
    width: 400px;
    height: 440px;
    padding: 60px;
    border-radius: 1%;
}

.ico {
    color: lightgray;
    margin-top: 320px;
    padding-right: 40px;
    font-size: 20px;
}

.d {
    display: flex;
}

h2 {
    text-decoration: underline;
}

.ketto {
    margin-top: 50px;
    background-color: black;
    width: 400px;
    height: 440px;
    padding: 60px;
    border-radius: 1%;
}

.fo:hover {
    color: dimgrey;
    border: 1px solid dimgrey;
  }

.fo {
    background-color: black;
    border: 1px solid lightgray;
    color: lightgray;
    font-size: 12px;
    width: 100px;
    height: 30px;
    margin: 0px;
    align-items: center;
}

.harom {
    background-image: url(./picture/41.jpg);
    background-position: -50px -20px;

    margin-top: 50px;
    background-color: black;
    width: 400px;
    height: 450px;
    padding: 60px;
    border-radius: 1%;
}

.negy {
    margin-top: 50px;
    background-color: black;
    width: 400px;
    height: 440px;
    padding: 60px;
    border-radius: 1%;
}

.rund {
    background-color: dimgray;
    width: 2px;
    height: 2px;
    position: absolute;
}

.ot {
    margin-top: 50px;
    background-color: black;
    width: 400px;
    height: 450px;
    padding: 60px;
    border-radius: 1%;
}

